@font-face {
  font-family: 'pc';
  src: local('Segoe UI');
  font-weight: 400;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background: $off-white;
  color: $dark-grey;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, 'pc', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 8px;
}
