*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  background: white;
  box-sizing: border-box;
}

body {
  background: #FCFCFC;
  color: $grey;
  font-family: "Assistant", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .4px;
  line-height: 1.6;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 8px;
}
