header {
  border-bottom: 2px solid rgba(0, 0, 0, .05);
  padding-top: 16px;
  padding-bottom: 12px;

  img {
    max-height: 32px;
  }
}

section {
  padding: 16px 0;
}

main {
  .desc {
    margin: 0 auto;
    max-width: 420px;
  }
}

footer {
  padding-bottom: 48px;

  p {
    font-size: 12px;
  }
}
