$orange: rgb(255, 108, 0);
$black: rgb(33, 33, 33);
$grey-dark: rgb(117, 117, 117);
$grey: rgb(155, 155, 155);
$white-darker: rgb(249, 249, 249);
$white-dark: rgb(252, 252, 252);
$white: rgb(255, 255, 255);
